.search-container {
    display: flex;
    margin: 20px;
  }
  
  #search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 5px 0 0 5px;
  }
  
  #search-button {
    padding: 10px 15px;
    background-color: #6c7ae0;
    color: white;
    font-size: 16px;
    border: 1px solid #6c7ae0;
    border-left: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
  }
  
  #search-button:hover {
    background-color: #6c7ae0;
  }
  
  #search-results {
    margin: 20px;
  }
  .login-text {
    font-size: 1.1em; /* Adjust the font size as needed */
  }
  .header-cart-buttons {
    display: flex;
    justify-content: center; /* Căn giữa các nút trong phần tử cha */
    margin-top: 20px; /* Tùy chỉnh khoảng cách nếu cần */
  }
  
  .header-cart-buttons a {
    color: #fff; /* Đổi màu chữ thành trắng */
    background-color: #333; /* Tùy chỉnh màu nền của nút nếu cần */
  }
  
  .header-cart-buttons a:hover {
    background-color: #555; /* Màu nền khi hover, tùy chỉnh nếu cần */
  }
  