/* src/App.css */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f4f4f4;
    text-align: left;
}

.table-img {
    width: 100px;  /* Bạn có thể thay đổi kích thước này theo nhu cầu của mình */
    height: 100px; /* Đảm bảo rằng chiều cao và chiều rộng đều được chỉ định để giữ kích thước hình ảnh cố định */
    object-fit: cover; /* Giúp hình ảnh không bị biến dạng và lấp đầy khung hình */
}
